<%- include('header') %>
  
  <div class="ui grid">
    <div class="three wide column">  
      <div class="ui card">
        <a href="/admin/user-manage" class="image">
          <img src="http://www.semantic-ui.cn/images/avatar/large/steve.jpg">
        </a>
        <div class="content">
          <a class="header" href="/admin/user-manage">用户管理</a>
          <div class="meta">
            <a href="/admin/user-manage">维护用户信息</a>
          </div>
        </div>
      </div>
    </div>
    <div class="one wide column"></div>
    <div class="three wide column">
      <div class="ui card">
        <a href="/admin/product-manage" class="image">
          <img src="http://www.semantic-ui.cn/images/avatar/large/daniel.jpg">
        </a>
        <div class="content">
          <a class="header" href="/admin/product-manage">商品管理</a>
          <div class="meta">
            <a href="/admin/product-manage">添加、修改、删除、商品</a>
          </div>
        </div>
      </div>
    </div>
    <div class="one wide column"></div>
    <div class="three wide column">
       <div class="ui card">
        <a href="#" class="image">
          <img src="http://www.semantic-ui.cn/images/avatar/large/helen.jpg">
        </a>
        <div class="content">
          <a class="header" href="#">订单管理</a>
          <div class="meta">
            <a href="#">维护用户的订单信息</a>
          </div>
        </div>
      </div>
    </div>
    <div class="one wide column"></div>
    <div class="three wide column">
       <div class="ui card">
        <a href="#" class="image">
          <img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg">
        </a>
        <div class="content">
          <a class="header" href="#">统计模块</a>
          <div class="meta">
            <a href="#">展示用户、商品统计信息</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('footer') %>