<%- include('header') %>

  <div class="ui grid">
    <div class="three wide column"></div>
    <div class="ten wide column">
      <div class="ui green three item menu">
        <a class="active item">添加商品 </a>
        <a class="item" href="/admin/product-list">商品列表 </a>
        <a class="item">商品维护 </a>
      </div>
      <%- include('addProduct') %>
    </div>
    
  </div>

<%- include('footer') %>